body{
	padding-left: 11em;
	color: darkslategray:
	background-color: antiquewhite:
	background-image: url(gray-bgcolor.jpg):
	font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial, Sans-Serif;
}
h1{
	font-family: impact, Haettenschweiler, 'Arial Narrow Bold',sans-serifl;
}
ul.navbar{
	position:absolute;
	top:2em;
	left:1em;
	width:9em;
	list-style-type: none;
	padding:0;
	margin:0;
}
ul.navbar li{
	background-color: darkslategray;
	color: azure;
	border-right: lem solid rgb(65,176,176);
	margin: 0.5em 0;
	padding: 0.3em;
}
ul.navbar a{
	text-decoration: none;
}
a:link{
	color azure;
}
p.footer {
	font-family: 'courter New', Courier, monospace;
	font-size: xx-small;
}